[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-man"]
	path = bundle/vim-man
	url = http://github.com/bruno-/vim-man.git
